.container {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 8px;
    background-color: white;
}

.title {
    padding: 8px;
    background-color: yellowgreen;
}

.widgetsList {
    min-height: 200px;
}

.highrule {
    margin: 0;
}